<div class="basicPageWhyJoin" action="/whyJoinPost" method="post">
  <div>

  <H1 class="name">Why you should join Unite</h1>
    <div class="status">published</div>
    <div class="content">
        <h2>Being part of Unite makes your working life easier</h2>

        Negotiation of your wages and conditions<br>
        Learn about your rights as a worker<br>
        Enforcement of your legal and work rights<br>
        Representation with any work problems<br>
        Legal Advocacy for personal grievances<br>
        Regular visits by a paid organiser to your worksite<br>
        Elected delegates on your worksite to assist you<br>
        A range of free and discounted benefits<br>
        You decide your Employment Agreement<br>
        You vote on major Unite decisions<br>
        You can become a workplace representative<br>
        You vote or can stand for leadership positions<br>
        You can choose to join the Unite Active Members Network and really get involved in helping others<br>
      </div>
  </div>
